body, html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    margin:0;
    flex-direction:column;
}
.eggContainer{
    width: 300px;
    height: 150px;
    margin: auto; 
}
#bouncing{
    animation: bounce .5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, .7, .05, .5);
    animation-iteration-count: 14;
}
.hide {
    display: none;
}
@keyframes bounce {
    from {
        transform: translate3d(0, 0px, 0);
    }
    to {
        transform: translate3d(0, -200px, 0);
    }
}
