body, html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    margin:0;
    flex-direction:column;
    background-color: #fffbee;
}
/* Egg animation */
.eggContainer{
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
.hide{
    display: none;
}
/* Bounce Egg */
.bounce{
    animation: bounce .5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, .7, .05, .5);
    animation-iteration-count: 12; 
}
@keyframes bounce{
    from {
        transform: translate3d(0, 0px, 0);
    }
    to {
        transform: translate3d(0, -100px, 0);
    }
}
/* breaks egg open */
.topOpen{
    animation: top 1s both;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes top{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(-45deg);
    }
}
.bottomOpen{
    animation: bottom 2s both;
    transform-origin: bottom;
    transform-box: fill-box;
    position: absolute;
}
@keyframes bottom{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(45deg);
    }
}
/* enter */
#enter{
    width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* kitchen */
.kitchen{
    width: 90%;
    height: 80%;
    margin: auto;
}
#Paddle{
    animation: mix .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes mix{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-180deg);
    }
}
